USE [master]
GO
/****** Object:  Database [SurveyAnsDB]    Script Date: 9/17/2025 9:33:49 AM ******/
CREATE DATABASE [SurveyAnsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SurveyAnsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SurveyAnsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SurveyAnsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SurveyAnsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SurveyAnsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SurveyAnsDB]
GO
/****** Object:  Table [dbo].[CallSession]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallSession](
	[Call_ID] [int] IDENTITY(1,1) NOT NULL,
	[CallStart] [datetime] NULL,
	[CallEnd] [datetime] NULL,
	[SurveyID] [int] NULL,
	[Request_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Call_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign](
	[Campaign_ID] [int] IDENTITY(1,1) NOT NULL,
	[CampaignName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Survey_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Campaign_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Question_ID] [int] NOT NULL,
	[QuestionText] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOption]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOption](
	[Option_ID] [int] IDENTITY(1,1) NOT NULL,
	[OptionText] [nvarchar](max) NOT NULL,
	[OptionNumber] [int] NULL,
	[Question_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Campaign_ID] [int] NOT NULL,
	[Phone_Number] [nvarchar](50) NULL,
	[Request_Type] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Response]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Response](
	[Response_ID] [int] IDENTITY(1,1) NOT NULL,
	[Request_ID] [int] NOT NULL,
	[Option_ID] [int] NULL,
	[ResponseTime] [datetime] NULL,
	[Question_ID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Answer] [nvarchar](max) NULL,
	[sentiment_text] [nvarchar](128) NULL,
	[sentiment_score] [int] NULL,
	[Keyword] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Response_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[Survey_ID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Survey_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey_Question_Map]    Script Date: 9/17/2025 9:33:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey_Question_Map](
	[Survey_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[QuestionOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Survey_ID] ASC,
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CallSession] ON 

INSERT [dbo].[CallSession] ([Call_ID], [CallStart], [CallEnd], [SurveyID], [Request_ID]) VALUES (1, CAST(N'2025-08-01T09:15:00.000' AS DateTime), CAST(N'2025-08-01T09:18:00.000' AS DateTime), 1, 1)
INSERT [dbo].[CallSession] ([Call_ID], [CallStart], [CallEnd], [SurveyID], [Request_ID]) VALUES (2, CAST(N'2025-08-01T10:05:00.000' AS DateTime), CAST(N'2025-08-01T10:08:00.000' AS DateTime), 2, 2)
INSERT [dbo].[CallSession] ([Call_ID], [CallStart], [CallEnd], [SurveyID], [Request_ID]) VALUES (3, CAST(N'2025-08-01T10:45:00.000' AS DateTime), CAST(N'2025-08-01T10:48:00.000' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[CallSession] OFF
GO
SET IDENTITY_INSERT [dbo].[Campaign] ON 

INSERT [dbo].[Campaign] ([Campaign_ID], [CampaignName], [Description], [Survey_ID]) VALUES (1, N'Campaign for Network Coverage', N'Covers network coverage issues', 1)
INSERT [dbo].[Campaign] ([Campaign_ID], [CampaignName], [Description], [Survey_ID]) VALUES (2, N'Campaign for Call Quality', N'Covers call quality issues', 2)
INSERT [dbo].[Campaign] ([Campaign_ID], [CampaignName], [Description], [Survey_ID]) VALUES (3, N'Campaign for Internet Speed', N'Covers internet speed feedback', 3)
SET IDENTITY_INSERT [dbo].[Campaign] OFF
GO
INSERT [dbo].[Question] ([Question_ID], [QuestionText]) VALUES (1, N'How satisfied are you with our service?')
INSERT [dbo].[Question] ([Question_ID], [QuestionText]) VALUES (2, N'How clear was the call quality?')
INSERT [dbo].[Question] ([Question_ID], [QuestionText]) VALUES (3, N'Was your issue resolved during the call?')
GO
SET IDENTITY_INSERT [dbo].[QuestionOption] ON 

INSERT [dbo].[QuestionOption] ([Option_ID], [OptionText], [OptionNumber], [Question_ID]) VALUES (1, N'A', 1, 1)
INSERT [dbo].[QuestionOption] ([Option_ID], [OptionText], [OptionNumber], [Question_ID]) VALUES (2, N'B', 2, 1)
INSERT [dbo].[QuestionOption] ([Option_ID], [OptionText], [OptionNumber], [Question_ID]) VALUES (3, N'AA', 1, 2)
SET IDENTITY_INSERT [dbo].[QuestionOption] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([Request_ID], [Campaign_ID], [Phone_Number], [Request_Type], [CreatedAt]) VALUES (1, 1, N'01123456781', N'Post-call survey', CAST(N'2025-08-01T09:15:00.000' AS DateTime))
INSERT [dbo].[Request] ([Request_ID], [Campaign_ID], [Phone_Number], [Request_Type], [CreatedAt]) VALUES (2, 2, N'01234567892', N'Post-call survey', CAST(N'2025-08-01T10:05:00.000' AS DateTime))
INSERT [dbo].[Request] ([Request_ID], [Campaign_ID], [Phone_Number], [Request_Type], [CreatedAt]) VALUES (3, 3, N'01598765431', N'Post-call survey', CAST(N'2025-08-01T10:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Response] ON 

INSERT [dbo].[Response] ([Response_ID], [Request_ID], [Option_ID], [ResponseTime], [Question_ID], [CreateDate], [Answer], [sentiment_text], [sentiment_score], [Keyword]) VALUES (18, 9, 4, CAST(N'2025-08-27T09:55:22.117' AS DateTime), 10, CAST(N'2025-08-01T09:55:22.117' AS DateTime), N'No, I didn’t get help', N'good', 8, NULL)
INSERT [dbo].[Response] ([Response_ID], [Request_ID], [Option_ID], [ResponseTime], [Question_ID], [CreateDate], [Answer], [sentiment_text], [sentiment_score], [Keyword]) VALUES (19, 2, 8, CAST(N'2025-08-27T09:56:32.360' AS DateTime), 8, CAST(N'2025-08-02T09:55:22.117' AS DateTime), N'Very Difficult', N'good', 9, NULL)
INSERT [dbo].[Response] ([Response_ID], [Request_ID], [Option_ID], [ResponseTime], [Question_ID], [CreateDate], [Answer], [sentiment_text], [sentiment_score], [Keyword]) VALUES (20, 4, 3, CAST(N'2025-08-27T09:56:32.360' AS DateTime), 1, CAST(N'2025-08-03T09:55:22.117' AS DateTime), N'Yes, from the first contact', N'neutral', 6, NULL)
SET IDENTITY_INSERT [dbo].[Response] OFF
GO
SET IDENTITY_INSERT [dbo].[Survey] ON 

INSERT [dbo].[Survey] ([Survey_ID], [SurveyName], [Description]) VALUES (1, N'Network Coverage Survey', N'Feedback about mobile network coverage')
INSERT [dbo].[Survey] ([Survey_ID], [SurveyName], [Description]) VALUES (2, N'Call Quality Survey', N'Feedback about call clarity and stability')
INSERT [dbo].[Survey] ([Survey_ID], [SurveyName], [Description]) VALUES (3, N'Internet Speed Survey', N'Feedback about 4G/5G speeds')
SET IDENTITY_INSERT [dbo].[Survey] OFF
GO
INSERT [dbo].[Survey_Question_Map] ([Survey_ID], [Question_ID], [QuestionOrder]) VALUES (1, 1, 1)
INSERT [dbo].[Survey_Question_Map] ([Survey_ID], [Question_ID], [QuestionOrder]) VALUES (1, 2, 5)
INSERT [dbo].[Survey_Question_Map] ([Survey_ID], [Question_ID], [QuestionOrder]) VALUES (1, 3, 2)
GO
ALTER TABLE [dbo].[Request] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Response] ADD  DEFAULT (getdate()) FOR [ResponseTime]
GO
ALTER TABLE [dbo].[CallSession]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[CallSession]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[CallSession]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[CallSession]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[CallSession]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[CallSession]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[QuestionOption]  WITH CHECK ADD  CONSTRAINT [FK_QuestionOption_Question] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Question] ([Question_ID])
GO
ALTER TABLE [dbo].[QuestionOption] CHECK CONSTRAINT [FK_QuestionOption_Question]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([Campaign_ID])
REFERENCES [dbo].[Campaign] ([Campaign_ID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([Campaign_ID])
REFERENCES [dbo].[Campaign] ([Campaign_ID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([Campaign_ID])
REFERENCES [dbo].[Campaign] ([Campaign_ID])
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_Question] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Question] ([Question_ID])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_Question]
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Question] ([Question_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Question] ([Question_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Question] ([Question_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([Survey_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map]  WITH CHECK ADD  CONSTRAINT [FK_SurveyQuestionMap_Question] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Question] ([Question_ID])
GO
ALTER TABLE [dbo].[Survey_Question_Map] CHECK CONSTRAINT [FK_SurveyQuestionMap_Question]
GO
USE [master]
GO
